html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container-fluid {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}
.image-preview img{
    margin-bottom: 10px;
}

.images{
    overflow: hidden;
    margin-bottom: 20px;
}
.images .image{
    float: left;
    text-align: center;
    margin-right: 20px;
}
.images .image img{
    display: block;
    border: 1px solid #ccc;
}
.images .image a{
    display: inline-block;
    margin-top: 10px;
}
.agent-group .list-group{
    margin-bottom: 0;
}


.sortable {
    -moz-user-select: none;
    padding: 0;
    margin: 0;
}
.sortable li {
    list-style: none outside none;
    cursor: normal;
}
.cursor-move li{
    cursor: move;
}
.sortable .handle {
    cursor: move;
}
.sortable li.disabled {
    cursor: not-allowed;
}
.sortable li:focus, .sortable li:hover {
    background-color: #eee;
}
.sortable.grid {
    overflow: hidden;
}
.sortable.grid li {
    float: left;
    min-width: 80px;
    min-height: 80px;
    text-align: center;
}
.sortable .handle {
    cursor: move;
}
.sortable.connected {
    min-height: 100px;
    min-width: 200px;
}
.sortable li.sortable-placeholder {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px dashed #CCCCCC;
    padding: 16px;
}
.sortable li.sortable-dragging {
}

.agency-view .status_0{
    color: #d9534f;
}
.field-object-total_bathrooms{
    display: none;
}

.photo-list{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.photo-list li{
    float: left;
    margin-right: 20px;
    text-align: center;
    cursor: move;
}
.photo-list li img{
    display: block;
    border: 1px solid #ccc;
}
.photo-list li a{
    display: inline-block;
    margin-top: 10px;
}

#place-comforts_field label{
    margin-right: 15px;
}

.nav-tabs{
    margin-bottom: 30px;
}

/***********************
 * Opening hours input *
 ***********************/

#oh {
    font-family: monospace,Courier;
}

/** OSM tag **/
.osm-tag {
    font-size: 115%;
    background: #DDE none repeat scroll 0% 0%;
    white-space: nowrap;
    font-family: monospace,Courier;
}

.osm-key {
    font-weight: bold;
}


/************
 * Calendar *
 ************/

/* Date range navigation bar */
#range-nav {
    margin-bottom: 10px;
}

.nav-tabs li.add a {
    color: green;
    background-color: #9CCF99;
    font-weight: bold;
}

.nav-tabs li.add a:hover {
    background-color: #C3E1C2;
    border-color: #C3E1C2;
}

/********************
 * Date range modal *
 ********************/

#modal-range-nav {
    margin-bottom: 10px;
}

.input-inline input, .input-inline select {
    display: inline;
    width: auto;
}

.nav a {
    cursor: pointer;
}

#modal-range-alert {
    margin-bottom: 10px;
}

#range-holiday label {
    margin-right: 15px;
}

#place-map{
    height: 600px;
}